.app{
    background-color: aliceblue;
    min-height: 100vh;
}

.app__header{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
height: 54px;
display: flex;
align-items: center;
object-fit: contain;
border-bottom: 1px solid lightgray;
}